.main-co {
  margin: 15px;
  padding: 10px;
  border-color: rgb(190, 207, 194);
  border-width: 1px;
  text-align: center;
  font-weight: bold;
}
.tree-data {
  align-content: center;
  margin-left: 20px;
}
